@import "tailwindcss/preflight";
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@import "tailwindcss";
@plugin "tailwindcss-animate";

/* Custom Theme Variables */
/* @layer base {
  :root {
    --primary: rgb(255, 234, 0);
    --secondary: rgb(255, 73, 73);
    --thirdary: rgb(26, 255, 0); 
    --four: rgb(255, 255, 255);

    --text-primary: rgb(255, 255, 255);
    --text-secondary: rgb(0, 0, 0);
    --text-thirdary: rgb(67, 67, 67);

    --background: rgb(255, 255, 255);
    --foreground: rgb(10, 25, 40);

    --border: rgb(233, 236, 239);
    --input: rgb(233, 236, 239);
    --ring: rgb(10, 25, 40);

    --radius: 0.5rem;
  } */

  /* Dark mode variables */
  /* .dark {
    --background: rgb(10, 25, 40);
    --foreground: rgb(243, 245, 247);
    --primary: rgb(243, 245, 247);
    --secondary: rgb(37, 52, 66);
    --thirdary: rgb(0, 168, 107); 
  }
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
